@charset "UTF-8";

/* CSS Document */

:root {
	--primary-color: rgba(111, 85, 81, .3);
	--overlay-color: rgba(24, 39, 51, 0.85);
	--menu-speed: 0.75s;
}

*{
box-sizing: border-box;
margin:0;
padding:0;}

.desktop-nav {
  display: none;
}

body{
	font-family: 'Nunito', sans-serif;
	line-height: 1.4;
}

.container {
	margin: auto;
}

.menu-wrap {
  top: 0;
  right: 0;
  z-index: 1;
}

.menu-wrap .toggler {
  cursor: pointer;
  height: 50px;
  opacity: 0;
  position: absolute;
  top: 0;
  right: 0;
  width: 50px;
  z-index: 2;
}

.menu-wrap .hamburger {
  align-items: center;
  background: var(--primary-color);
  display: flex;
  height: 60px;
  justify-content: center;
  padding: 1rem;
  position: absolute;
  right: 0;
  top: 0;
  width: 60px;
  z-index: 1;
}

/* Hamburger line */
.menu-wrap .hamburger > div {
  align-items: center;
  background-color: #9B3030;
  display: flex;
  flex: none;
  height: 2px;
  justify-content: center;
  position: relative;
  transition: all 0.4s ease;
  width: 100%;
}

/* Hamburger Lines - Top & Bottom */
.menu-wrap .hamburger > div::before,
.menu-wrap .hamburger > div::after {
  background: inherit;
  content: '';
  height: 2px;
  position: absolute;
  top: -10px;
  width: 100%;
  z-index: 1;
}

/* Moves Line Down */
.menu-wrap .hamburger > div::after {
  top: 10px;
}

/* Toggler Animation */
.menu-wrap .toggler:input + .hamburger > div {
  transform: rotate(135deg);
}

/* Turns Lines Into X */
.menu-wrap .toggler:input + .hamburger > div:before,
.menu-wrap .toggler:input + .hamburger > div:after {
  top: 0;
  transform: rotate(90deg);
}

/* Rotate On Hover When Checked */
.menu-wrap .toggler:checked:input + .hamburger > div {
  transform: rotate(225deg);
}

/* Show Menu */
.menu-wrap .toggler:input ~ .menu {
  visibility: visible;
}

.menu-wrap .toggler:input ~ .menu > div {
  transform: scale(1);
  transition-duration: var(--menu-speed);
}

.menu-wrap .toggler:input ~ .menu > div > div {
  opacity: 1;
  transition:  opacity 0.4s ease 0.4s;
}

.menu-wrap .menu {
  align-items: center;
  display: flex;
  height: 100%;
  justify-content: center;
  overflow: hidden;
  position: fixed;
  right: 0;
  top: 0;
  visibility: hidden;
  width: 100%;

}

.menu-wrap .menu > div {
  align-items: center;
  background: var(--overlay-color);
  border-radius: 50%;
  display: flex;
  flex: none;
  height: 200vw;
  justify-content: center;
  transform: scale(0);
  transition: all 0.4s ease;
  width: 200vw;
}

.menu-wrap .menu > div > div {
  max-width: 90vw;
  max-height: 100vh;
  opacity: 0;
  text-align: center;
  transition: opacity 0.4s ease;
}

.menu-wrap .menu > div > div > ul > li {
  color: #fff;
  font-size: 1.5rem;
  list-style: none;
  padding: 1rem;
}

.menu-wrap .menu > div > div > ul > li > a {
  color: inherit;
  text-decoration: none;
  transition: color 0.4s ease;
}

.container .showcase-inner {
	background: #20363D;
	height: 60px;
}

/* Text */
h1 {
  font-family: Nunito Sans;
  font-style: normal;
  font-weight: bold;
  font-size: 27px;
  line-height: 37px;
  /* or 137% */
  letter-spacing: 0.05em;
  padding: 20px 0px 10px 20px;
}

h2 {
  font-family: Nunito Sans;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 177.2%;
  /* identical to box height, or 43px */
  text-align: center;
  letter-spacing: 0.05em;
  color: #FFFFFF;
}

h3 {
  font-family: Nunito Sans;
  font-style: normal;
  font-weight: bold;
  font-size: 27px;
  line-height: 150%;
  /* or 40px */
  letter-spacing: 0.05em;
}

h6 {
  font-family: Nunito Sans;
  font-style: normal;
  font-weight: bold;
  font-size: 19px;
  line-height: 150%;
  /* or 40px */
  letter-spacing: 0.05em;
}

.h6_sub {
  padding-left: 20px;
}

.body_text {
  font-family: Nunito Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 17px;
  line-height: 150%;
  /* or 25px */
  padding: 10px 0px 10px 0px;
  color: #000000;
}

.past_text {
  margin: 40px 20px 20px 20px;
}

.Section_Title_Blue {
  color: rgba(78, 96, 105, 0.99);
}

.Section_Title_Yellow {
  color: #616556;
}

.Section_Title_Pink {
  color: #6F5551;
  text-align: left;
}

.Section_Title_Green {
  color: #20363D;
}

.project_text {
  font-family: Nunito Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 19px;
  line-height: 150%;
  /* or 28px */
  letter-spacing: 0.05em;
  color: #000000;
  padding-bottom: 20px;
}

.slogan {
  font-family: Nunito Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 19px;
  line-height: 28px;
  /* or 137% */
  letter-spacing: 0.05em;
  color: #3E4041;
  padding: 20px 0px 20px 20px;
}

.caption_text {
  font-family: Nunito Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 13px;
  line-height: 150%;
  /* or 19px */
  letter-spacing: 0.03em;
  color: #000000;
}

.box_text {
  font-family: Nunito Sans Black;
  font-style: normal;
  font-weight: 900;
  font-size: 16px;
  line-height: 237.2%;
  /* or 38px */
  color: #FFFFFF;
}

.Phase_Title {
  padding: 15px 20px;
  text-align: left;
}

.Phase_Title_Blue {
  padding: 15px 20px;
  text-align: left;
}

.Phase_Title_Yellow {
  background: #616556;
  padding: 15px 20px;
  text-align: left;
}

.box_blue {
  background: #3F5662;
  width: 80%;
  box-sizing: border-box;
  display: flex;
  padding: 30px;
  margin: 20px 0px;
}

.box_yellow {
  width: 80%;
  background: #616556;
  border: 0.354545px solid #616556;
  box-sizing: border-box;
  display: flex;
  padding: 30px;
  margin: 20px 0px;
}

.line {
  width: 100%;
  height: 0px;
  left: 20px;
  top: 17340px;
  opacity: 0.3;
  border: 1px solid #20363D;
  margin: 25px 0px;
}

.intro {
  background: rgba(232, 225, 151, 0.21);
  top: 60px;
  height: 550px;
}

/* Images */
.hero {
  object-fit: cover;
  object-position: 0% 58.67%;
  width: 100%;
  height: 295px;
  box-shadow: 0px 4px 8px rgba(134, 139, 118, 0.55);
}

.hero_about {
  object-fit: cover;
  object-position: 0% 0%;
  width: 100%;
  height: 100%;
  box-shadow: 0px 10px 18px rgba(221, 200, 197, 0.6);
}

.hero_2 {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  height: 100%;
}

.full-width {
  left: 50%;
  margin-left: -50vw;
  margin-right: -50vw;
  max-width: 100vw;
  position: relative;
  right: 50%;
  width: 100vw;
}

.image {
  display: inline-block;
  align-content: center;
}

.box_image_evernote {
  object-fit: cover;
  object-position: 51% 18.67%;
  width: 100px;
  height: 100px;
  padding: 0px 10px 0px 10px;
}

.box_image_box {
  object-fit: cover;
  object-position: -3.5% 19%;
  width: 100px;
  height: 100px;
  padding: 0px 10px 0px 10px;
}

.box_image_pinterest {
  object-fit: cover;
  object-position: 51% 18.67%;
  width: 100px;
  height: 100px;
  padding: 0px 10px 0px 10px;
}

.persona_image {
  object-fit: cover;
  object-position: 51% 18.67%;
  width: 180px;
  height: 180px;
  padding: 0px 10px 0px 10px;
}

.persona_right {
  text-align: center;
}

.persona_left {
  text-align: center;
}

.persona_details {
  font-family: Nunito Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 26px;
  /* or 162% */
  letter-spacing: 0.1em;
  color: #000000;
  padding-bottom: 15px;
}

.persona_name {
  font-family: Nunito Sans ExtraBold;
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 26px;
  /* or 144% */
  letter-spacing: 0.1em;
  color: #20363D;
  padding-top: 15px;
}

.two_images {
  display: inherit;
  text-align: center;
}

.flow_image {
  background-color: #ffffff;
  object-fit: cover;
  width: 30%;
  height: 30%;
  padding: 20px 20px 20px 20px;
  margin: 10px;
}

.three_images {
  display: inherit;
  text-align: center;
}

.proto_image {
  display: inline-block;
  margin-left: auto;
  margin-right: auto;
  width: 35%;
  vertical-align: middle;
}

.proto_image_d {
  display: inline-block;
  margin-left: auto;
  margin-right: auto;
  width: 62%;
  vertical-align: middle;
}

.subsection {
  padding: 40px;
  background-color: #E3E7E9;
  margin-bottom: 25px;
}

.logo {
  position: absolute;
  width: 74px;
  left: -20px;
  top: -26px;
  padding-left: 20px;
}

footer {
  left: 0px;
  top: 3449px;
  background: #8F706B;
  align-content: center;
  text-align: center;
  padding: 50px;
}

.footertext {
  font-family: Nunito Sans;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 177.2%;
  /* identical to box height, or 43px */
  text-align: center;
  letter-spacing: 0.05em;
  color: #FFFFFF;
}

.section_image {
  object-fit: cover;
  object-position: 0% 58.67%;
  ;
  width: 100%;
  height: 405px;
  box-shadow: 0px 5px 8px rgba(134, 139, 118, 0.25);
}

.body_image {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  box-shadow: 0px 4px 8px rgba(134, 139, 118, 0.55);
  margin: 20px 0px
}

.sub_section_image {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  padding-bottom: 20px;
}

.section_image_2 {
  object-fit: cover;
  object-position: 0% 58.67%;
  ;
  width: 100%;
  height: 405px;
  box-shadow: 0px 5px 8px rgba(134, 139, 118, 0.25);
}

.section_image_3 {
  object-fit: cover;
  object-position: 0% 58.67%;
  width: 100%;
  height: 405px;
  box-shadow: 0px 5px 8px rgba(134, 139, 118, 0.25);
}

.section_image_4 {
  object-fit: cover;
  object-position: 0% 58.67%;
  width: 100%;
  height: 405px;
  box-shadow: 0px 5px 8px rgba(134, 139, 118, 0.25);
}

.BottomNavLink {
  width: 54.45px;
  height: 54.45px;
  padding: 10px;
}

.contact-link {
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  align-content: flex-end;
}

.post_footer_text {
  font-family: Nunito Sans;
  font-style: italic;
  font-weight: normal;
  font-size: 14px;
  line-height: 167.23%;
  /* or 23px */
  text-align: center;
  letter-spacing: 0.1em;
  color: #FFFFFF;
}

.case_study_intro {
  background: #D7DCDF;
  padding: 20px;
}

.Project_pink {
  background: rgba(221, 200, 197, 0.24);
  padding: 50px 20px
}

.Project_blue {
  background: #D7DCDF;
  padding: 50px 20px;
}

.Project_green {
  background: #E7F3EF;
  padding: 50px 20px;
}

.Project_yellow {
  background: #FAF9E9;
  padding: 50px 20px;
}

.Section_yellow {
  background: #FAF9E9;
  padding: 50px 20px;
}

.Section_pink {
  background: rgba(221, 200, 197, 0.24);
  padding: 50px 20px;
}

.Intro_About {
  background: rgba(221, 200, 197, 0.24);
  padding: 0px 0px 20px 0px
}

.Section_about {
  padding: 50px 20px;
}

.Section_green {
  background: #E7F3EF;
  padding: 50px 20px;
}

.section_blue {
  background: #D7DCDF;
  padding: 50px 20px;
}

.Banner_blue {
  background: #3F5662;
}

.Banner_pink {
  background: #6F5551;
}

/**
CTA
**/
.Primary_button {
  background-color: #20363D;
  color: #ffffff;
  display: inline-block;
  font-family: Nunito Sans;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 100%;
  padding: 10px 14px;
  text-decoration: none;
  text-align: center;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  vertical-align: middle;
}

.secondary_button {
  color: #086C7A;
  display: inline-block;
  font-family: Nunito Sans;
  font-style: normal;
  font-weight: 900;
  font-size: 16px;
  line-height: 120%;
  padding: 8px 14px;
  text-decoration: none;
  text-align: center;
  letter-spacing: 0.1em;
  text-transform: uppercase;
}

.Secondary_CTA {
  padding: 20px 0px 20px 0px;
  text-align: center;
}

.Primary_CTA {
  padding: 20px 0px 20px 0px;
  text-align: center;
  vertical-align: middle;
}

.button_spacer {
  height: 10px;
}

@media only screen and (min-width: 860px) {
  h1 {
    font-size: 45px;
    line-height: 37px;
    /* or 137% */
    letter-spacing: 0.05em;
    padding: 20px 0px 10px 20px;
  }

  .nav {
    margin-left: 60px;
    margin-right: 60px;
  }

/* DESKTOP NAV, HAMBURGER DISAPPEAR */
  .desktop-nav {
	background: #20363D;
    display: inline-block;
    float: right;
	height: 60px;
  }

  .desktop-nav ul {
    display: inline-flex;
    padding-bottom: 12px;
  }

  .desktop-nav ul li {
    font-size: .8rem;
    padding: 3vw;
  }

  .desktop-nav ul li a:hover {
    color: #dadada;
  }

.menu-wrap {
    display: none;
  }

}
