/* variables */
:root {
  --primary-color: rgba(32, 54, 61, .3);
  --overlay-color: rgba(24, 39, 51, .85);
  --menu-speed: 0.75s;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.desktop-nav {
  display: none;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: Nunito Sans;
}

a {
  text-decoration: none;
}

.container {
  width: auto;
  margin: 0px;
  max-with: 1400px;
  align-content: center;
  justify-content: center;
}

/* Hamburger Menu */
.menu-wrap {
  top: 0;
  right: 0;
  z-index: 1;
}

.menu-wrap .toggler {
  cursor: pointer;
  height: 60px;
  opacity: 0;
  position: absolute;
  top: 0;
  right: 0;
  width: 60px;
  z-index: 2;
  margin-right: 10px
}

.menu-wrap .hamburger {
  align-items: center;
  background: var(--primary-color);
  display: flex;
  height: 60px;
  justify-content: center;
  padding: 10px 10px;
  position: absolute;
  right: 0;
  top: 0;
  width: 60px;
  z-index: 1;
  margin-right: 10px;
}

/* Hamburger line */
.menu-wrap .hamburger>div {
  align-items: center;
  background-color: #fff;
  display: flex;
  flex: none;
  height: 2px;
  justify-content: center;
  position: relative;
  transition: all 0.4s ease;
  width: 100%;
}

/* Hamburger Lines - Top & Bottom */
.menu-wrap .hamburger>div::before,
.menu-wrap .hamburger>div::after {
  background: inherit;
  content: '';
  height: 2px;
  position: absolute;
  top: -10px;
  width: 100%;
  z-index: 1;
}

/* Moves Line Down */
.menu-wrap .hamburger>div::after {
  top: 10px;
}

/* Toggler Animation */
.menu-wrap .toggler:checked+.hamburger>div {
  transform: rotate(135deg);
}

/* Turns Lines Into X */
.menu-wrap .toggler:checked+.hamburger>div:before,
.menu-wrap .toggler:checked+.hamburger>div:after {
  top: 0;
  transform: rotate(90deg);
}

/* Rotate On Hover When Checked */
.menu-wrap .toggler:checked:hover+.hamburger>div {
  transform: rotate(225deg);
}

/* Show Menu */
.menu-wrap .toggler:checked~.menu {
  visibility: visible;
}

.menu-wrap .toggler:checked~.menu>div {
  transform: scale(1);
  transition-duration: var(--menu-speed);
}

.menu-wrap .toggler:checked~.menu>div>div {
  opacity: 1;
  transition: opacity 0.4s ease 0.4s;
}

.menu-wrap .menu {
  align-items: center;
  display: flex;
  height: 100%;
  justify-content: center;
  overflow: hidden;
  position: fixed;
  right: 0;
  top: 0;
  visibility: hidden;
  width: 100%;
}

.menu-wrap .menu>div {
  align-items: center;
  background: var(--overlay-color);
  border-radius: 50%;
  display: flex;
  flex: none;
  height: 200vw;
  justify-content: center;
  transform: scale(0);
  transition: all 0.4s ease;
  width: 200vw;
}

.menu-wrap .menu>div>div {
  max-width: 80vw;
  max-height: 100vh;
  opacity: 0;
  text-align: left;
  transition: opacity 0.4s ease;
}

.menu-wrap .menu>div>div>ul>li {
  color: #fff;
  font-family: Nunito Sans;
  font-size: 25px;
  list-style: none;
  padding: .4rem;
  transition: color 0.4s ease;
}

.menu-wrap .menu>div>div>ul>li>a {
  color: inherit;
  text-decoration: none;
  transition: color 0.4s ease;
}

.menu-wrap .menu>div>div>ul>li>a:hover {
  color: inherit;
  text-decoration: none;
  transition: color 0.4s ease;
}

/* Nav */
nav {
  text-align: left;
  height: auto;
  padding: 30px 10px 10px;
  background: #20363D;
}

.desktop-nav {
  display: none;
}

.desktop-nav>ul>li>a {
  color: #fff;
  font-family: Nunito Sans;
  font-weight: bold;
  font-size: 18px;
  padding: 20px 10px;
  list-style: none;
  text-decoration: none;
  opacity: .9;
scroll-behavior: smooth;
}

.container .showcase-inner {
  background: #20363D;
  height: 30px;
}

.logo {
  position: absolute;
  width: 113px;
  left: -10px;
  top: 5px;
  padding-left: 40px;
}

.intro {
  padding: 40px 20px;
}

.hero {
  width: 100%;
  box-shadow: 0px 4px 8px rgba(134, 139, 118, 0.55);
  margin: 50px 0px;
}

.hero_2 {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 40%;
  height: 40%;
  max-width: 430px;
}

.image_main {
  padding: 10px 0px 0px;
}

.image {
  padding: 20px 0px;
}

.s_body_image {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  box-shadow: 0px 4px 8px rgba(134, 139, 118, 0.55);
  margin: 40px 0px
}

/* Text */
h1 {
  font-family: Nunito Sans;
  font-style: normal;
  font-weight: bold;
  font-size: 27px;
  line-height: 37px;
  /* or 137% */
  letter-spacing: 0.05em;
  color: #3E4041;
  padding-top: 20px;
}

h2 {
  font-family: Nunito Sans;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 177.2%;
  /* identical to box height, or 43px */
  letter-spacing: 0.05em;
  color: #FFFFFF;
}

h3 {
  font-family: Nunito Sans;
  font-style: normal;
  font-weight: bold;
  font-size: 27px;
  line-height: 150%;
  /* or 40px */
  letter-spacing: 0.05em;
}

h4 {
  font-family: Nunito Sans;
  font-style: normal;
  font-weight: bold;
  font-size: 19px;
  line-height: 150%;
  /* or 40px */
  letter-spacing: 0.05em;
}

h5 {
  font-family: Nunito Sans;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.05em;
  color: #3E4041;
}

h6 {
  font-family: Nunito Sans;
  font-style: normal;
  font-weight: bold;
  font-size: 19px;
  line-height: 150%;
  /* or 40px */
  letter-spacing: 0.05em;
}

.bnr_title {
  text-align: left;
}

.space {
  padding: 0px 20px;
}

.space_r {
  padding-left: 20px;
}

.slogan {
  font-family: Nunito Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 19px;
  line-height: 28px;
  /* or 137% */
  letter-spacing: 0.05em;
  color: #3E4041;
  padding: 10px 0px 0px 0px;
}

.body_text {
  font-family: Nunito Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 150%;
  /* or 25px */
  padding: 15px 0px 10px;
  color: #3E4041;
}

.body_text_2 {
  font-family: Nunito Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 150%;
  /* or 25px */
  padding: 15px 0px 10px;
  color: #3E4041;
}

.body_text_3 {
  font-family: Nunito Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 150%;
  /* or 25px */
  padding: 15px 0px 10px;
  color: #3E4041;
}

.body_text_half {
	  font-family: Nunito Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 150%;
  /* or 25px */
  padding: 15px 0px 10px;
  color: #3E4041;
}

.body_text_wrap {
  font-family: Nunito Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 17px;
  line-height: 130%;
  /* or 25px */
  padding: 10px 0px 10px 0px;
  color: #3E4041;
}

.project_des {
  font-family: Nunito Sans;
  font-weight: normal;
  font-size: 18px;
  line-height: 150%;
  /* or 28px */
  letter-spacing: 0.05em;
  color: #3E4041;
}

.it {
  font-style: italic
}

/* Buttons */


.Primary_button {
  background-color: #20363D;
  color: #ffffff;
  display: inline-block;
  font-family: Nunito Sans;
  font-style: normal;
  font-weight: bold;
  font-size: 12px;
  line-height: 100%;
  padding: 8px 14px 6px;
  text-decoration: none;
  text-align: center;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  vertical-align: middle;
}

.Primary_button:hover {
  background-color: #BDD9D9;
  color: #20363D;
  border: .5px solid #20363D;
box-sizing: border-box;	
	opacity: .8;
}

.Primary_button_hero {
  background-color: #20363D;
  color: #ffffff;
  display: inline-block;
  font-family: Nunito Sans;
  font-style: normal;
  font-weight: bold;
  font-size: 12px;
  line-height: 100%;
  padding: 8px 14px 6px;
  width: 180px;
  text-decoration: none;
  text-align: center;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  vertical-align: middle;
}

.Primary_button_hero:hover {
	 background-color: #BDD9D9;
  color: #20363D;
  border: .5px solid #20363D;
box-sizing: border-box;	
	opacity: .8;
}

.Primary_CTA {
  padding: 10px 0px 20px;
  text-align: center;
  vertical-align: middle;
}

.Primary_CTA_1 {
  padding: 10px 0px 20px;
  text-align: center;
  vertical-align: middle;
}

.Primary_CTA_l {
  padding: 15px 0px 20px;
  text-align: left;
  vertical-align: middle;
  display: none;	
}

.secondary_button {
  color: #086C7A;
  display: inline-block;
  font-family: Nunito Sans;
  font-style: normal;
  font-weight: 900;
  font-size: 14px;
  line-height: 120%;
  padding: 8px 14px;
  text-decoration: none;
  text-align: center;
  letter-spacing: 0.1em;
  text-transform: uppercase;
}

.secondary_button:hover {
	color:#8F706B;
	text-decoration-line: underline;
}

.button_spacer {
  height: 5px
}

/* Project */
.section_text {
  align-content: center;
  justify-content: center;
}

.line {
  width: 100%;
  height: 0px;
  left: 20px;
  top: 17340px;
  opacity: 0.3;
  border: .25px solid #20363D;
  margin: 25px 0px;
}

.project_container {
  padding: 30px 20px;
  align-content: center;
  justify-content: center;
}

.project_container_2 {
  padding: 30px 20px;
  align-content: center;
  justify-content: center;
}

.project_container_3 {
  padding: 30px 20px;
  align-content: center;
  justify-content: center;
}

.image-right-p-wrapper {}

.image-left-p-wrapper {}

.row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
}

.row_2 {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
}

.column {
  display: flex;
  flex-direction: column;
  flex-basis: 100%;
}

.column_2 {
  display: flex;
  flex-direction: column;
  flex-basis: 100%;
}

.project_text {
  height: 100%;
}

.project_text_2 {
  height: 100%;
}

.project_image {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  box-shadow: 0px 6px 12px rgba(134, 139, 118, 0.15);
 
}

/* Color schemes */
.blue_bkg {
  background: rgba(95, 116, 127, 0.15);
}

.blue_bnr {
  background: #3F5662;
  padding: 5px 20px;
}

.blue_title {
  color: #4E6069;
}

.green_bkg {
  background: rgba(176, 217, 203, 0.31);
}

.green_title {
  color: #4E6069;
}

.pink_bkg {
  background: rgba(221, 200, 197, 0.24);
}

.pink_title {
  color: #6F5551;
}

.pink_bnr {
  background: #6F5551;
  padding: 5px 20px;
}

.yellow_bkg {
  background: rgba(232, 225, 151, 0.21);
}

.yellow_bnr {
  background: #616556;
  padding: 5px 20px;
}

.yellow_title {
  color: #616556;
}

/* About */
.hero_about {
  object-fit: cover;
  width: 100%;
  box-shadow: 0px 20px 22px rgba(221, 200, 197, 0.29);
}

.float_box {
  max-width: 760px;
}

.about_text {
  max-width: 760px;
  align-content: center;
  justify-content: center;
}

.about_text-wrap {
  padding: 20px 20px;
}

.about_intro {
  padding: 40px 20px 0px;
}

.about_container {
  padding: 30px 0px;
  align-content: center;
  justify-content: center;
}

/* Sub Section*/
.subsection {
  padding: 40px;
  background: rgba(255, 255, 255, 0.4);
  margin-bottom: 25px;
}

.sub_section_image {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  padding-bottom: 20px;
}

.caption_text {
  font-family: Nunito Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 13px;
  line-height: 150%;
  /* or 19px */
  letter-spacing: 0.03em;
  color: #3E4041;
}

.caption_spacer {
  height: 25px;
}

.box_image_evernote {
  object-fit: cover;
  object-position: 51% 18.67%;
  width: 100px;
  height: 100px;
  margin: 0px 10px 0px 10px;
}

.box_image_box {
  object-fit: cover;
  object-position: -3.5% 19%;
  width: 100px;
  height: 100px;
  margin: 0px 10px 30px;
}

.box_image_pinterest {
  object-fit: cover;
  object-position: 51% 18.67%;
  width: 100px;
  height: 100px;
  margin: 0px 10px 30px;
}

.persona_image {
  object-fit: cover;
  object-position: 51% 18.67%;
  width: 180px;
  height: 180px;
  padding: 20px 10px 0px;
  margin-bottom: 20px;
}

.persona_image_2 {
  object-fit: cover;
  object-position: 51% 18.67%;
  width: 180px;
  height: 180px;
  padding: 20px 10px 0px;
  margin-bottom: 20px;
}

.persona_right {
  text-align: center;
  padding-top: 35px;
}

.persona_left {
  text-align: center;
  padding-top: 35px;
}

.persona_button {
  padding: 10px 0px 20px;
  text-align: center;
  vertical-align: middle;
}

.persona_button_r {
  padding: 10px 0px 20px;
  text-align: center;
  vertical-align: middle;
}

.persona_details {
  font-family: Nunito Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 26px;
  /* or 162% */
  letter-spacing: 0.1em;
  color: #000000;
  padding-bottom: 5px;
}

.persona_details_r {
  font-family: Nunito Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 26px;
  /* or 162% */
  letter-spacing: 0.1em;
  color: #000000;
  padding-bottom: 5px;
}

.persona_name {
  font-family: Nunito Sans;
  font-style: normal;
  font-weight: 900;
  font-size: 18px;
  line-height: 26px;
  /* or 144% */
  letter-spacing: 0.1em;
  color: #20363D;
  padding-top: 15px;
}

.persona_name_r {
  font-family: Nunito Sans;
  font-style: normal;
  font-weight: 900;
  font-size: 18px;
  line-height: 26px;
  /* or 144% */
  letter-spacing: 0.1em;
  color: #20363D;
  padding-top: 15px;
}

.two_images {
  display: inherit;
  text-align: center;
  align-content: center;
  justify-content: center;
}

.flow_image {
  background-color: #ffffff;
  object-fit: cover;
  width: 30%;
  height: 30%;
  padding: 20px 20px 20px 20px;
  margin: 10px;
}

.three_images {
  display: inherit;
  align-content: center;
  justify-content: center;
  margin-top: 40px;
}

.box_text {
  font-family: Nunito Sans Black;
  font-style: normal;
  font-weight: 900;
  font-size: 16px;
  line-height: 147.2%;
  /* or 38px */
  color: #FFFFFF;
}

.box_blue {
  background: #6F5551;
  width: 100%;
  box-sizing: border-box;
  display: flex;
  padding: 30px;
  margin: 20px 0px;
  font-family: Nunito Sans;
  font-style: normal;
  font-weight: bold;	
}

.box_blue ul>li {
  width: 100%;
  box-sizing: border-box;
  display: flex;
  padding: 5px;
  margin-top: 10px;
   font-family: Nunito Sans;
  font-style: normal;
  font-weight: bold;	
}

.box_yellow {
  width: 100%;
  background: #616556;
  box-sizing: border-box;
  display: flex;
  padding: 30px;
  margin: 20px 0px;
   font-family: Nunito Sans;
  font-style: normal;
  font-weight: bold;	
}

.box_yellow ul>li {
  width: 100%;
  box-sizing: border-box;
  display: flex;
  padding: 5px;
  margin-top: 10px;
   font-family: Nunito Sans;
  font-style: normal;
  font-weight: bold;	
}

.section_text ul {
  list-style-type: disc;
  padding-left: 25px
}

.section_text ul>li {
  padding: 10px 2px;
}

.proto_image {
  display: inline-block;
  margin-left: auto;
  margin-right: auto;
  width: 35%;
  vertical-align: middle;
}

.proto_image_d {
  display: inline-block;
  margin-left: auto;
  margin-right: auto;
  width: 62%;
  vertical-align: middle;
}

/* Footer */
footer {
  background: #8F706B;
  align-content: center;
  text-align: center;
  padding: 20px;
}

.footertext {
  font-family: Nunito Sans;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 177.2%;
  /* identical to box height, or 43px */
  text-align: center;
  letter-spacing: 0.05em;
  color: #FFFFFF;
}

.BottomNavLink {
  width: 54.45px;
  height: 54.45px;
  padding: 10px;
  text-decoration: none;
}

a .ContactLinks {
  text-decoration: none;
}

.ContactLinks {
  align-content: center;
  text-decoration: none;
  text-align: center;
}

.post_footer_text {
  font-family: Nunito Sans;
  font-style: italic;
  font-weight: normal;
  font-size: 14px;
  line-height: 167.23%;
  /* or 23px */
  text-align: center;
  letter-spacing: 0.1em;
  color: #FFFFFF;
}

@media screen and (min-width: 600px) {
  .hero_about {
    width: 60%;
    max-width: 360px;
    float: left;
    left: 200px;
    margin-right: 30px;
  }

  h6 {
    padding: 15px 0px 5px;
    font-size: 22px;
  }

  .float_box {
    padding-left: 60px;
  }

  .space_about {
    align-content: flex-start;
  }

  /* Project */
  .about_wrap {
    margin: 0 auto;
  }

  .bnr_title {
    padding: 0px 30px
  }

  .project_container {
    padding: 80px 125px;
    align-content: center;
    justify-content: center;
  }

  .project_container_2 {
    padding: 80px 125px;
    align-content: center;
    justify-content: center;
  }

  .project_container_3 {
    padding: 80px 125px;
    align-content: center;
    justify-content: center;
  }
	
	  .about_container {
    padding: 80px 160px;
    align-content: center;
    justify-content: center;
  }
	
	
	
	 .intro {
    top: 60px;
    padding: 20px 85px;
  }


  .body_text {
    font-size: 18px;
  }

  .body_text_2 {
    font-size: 18px;
  }

  .body_text_3 {
    font-size: 18px;
  }
	
	.body_text_half {
		font-size: 18px;
	}

  .line {
    border: .5px solid #20363D;
    margin: 30px 0px;
  }


  .project_des {
    font-size: 20px;
    margin-top: 10px;
  }

  /* About */
  .wrap {
    padding: 20px;
  }

  .about_container {
    padding: 0px 40px;
  }

  .about_text {
    padding-bottom: 50px;
  }

  .about_intro {
    padding: 20px 40px;
  }
}

.future {
  padding: 0px 20px;
}

@media screen and (min-width: 800px) {
  .container {}
	
	.bnr_title {
		padding-left: 120px;
	}

  .hero_2 {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    height: 50%;
    max-width: 830px;
  }

  .body_text {
    font-size: 18px;
    padding: 10px 0px;
  }

  .body_text_2 {
    font-size: 18px;
    padding: 10px 0px;
  }

  .body_text_3 {
    font-size: 18px;
    padding: 10px 0px;
  }
	
	 .body_text_half {
    font-size: 18px;
    padding: 10px 0px 10px 0px;
  }

  .caption_text {
    padding: 30px;
    font-size: 18px
  }

  .subsection {
    margin-bottom: 50px
  }

  .project_image {
    margin-top: 20px;
    vertical-align: text-bottom;
  }

  .about_intro {
    padding: 40px 100px;
  }

  .line {
    border: .5px solid #20363D;
    margin: 30px 0px;
  }

  /* Flex Grid related */
  .column {
    flex: 1;
    vertical-align: middle;
    padding: 0px 0px;
    max-width: 750px;
  }

  .column_2 {
    flex: 1;
    max-width: 750px;
	vertical-align: middle;
  }

  .row_2 {
    display: flex;
    flex-direction: row-reverse;
  }

  .space {
    padding: 20px 40px
  }

  .persona {
    display: flex;
  }

  .persona_left {
    vertical-align: top;
	  margin-left: 50px;
  }

  .persona_right {
    vertical-align: top;
    margin-left: 50px;
  }

  .persona_details_r {
    text-align: right;
  }

  .persona_name_r {
    text-align: right;
    padding-left: 10px;
	   font-family: Nunito Sans;
  font-style: normal;
  font-weight: bold;
  }

  .persona_name {
    text-align: left;
    padding-left: 10px;
    margin-top: 5px; 
	   font-family: Nunito Sans;
  font-style: normal;
  font-weight: bold;
  }

  .persona_details {
    text-align: left;
  }

  .persona_image {
    width: 125px;
    height: 125px;
  }

  .persona_image_2 {
    width: 125px;
    height: 125px;
  }

  .persona_right {
    text-align: right;
    display: inline-block;
  }

  .persona_left {
    text-align: left;
    display: inline-block;
    margin-left: 20px;
  }

  .persona_details {
    padding-left: 15px;
  }

  .persona_details_r {
    padding-right: 15px;
  }

  .persona_name {
    font-size: 19px;
    padding-left: 15px;
	  vertical-align: top;
  }

  .persona_name_r {
    font-size: 19px;
    padding-right: 15px;
	  vertical-align: top;
  }

  .persona {
    display: inline-block;
  }

  .Primary_button {
	margin: 15px 0px;  
	}

  .Primary_button_l {
    text-align: left;
    padding-bottom: 5px;
  }
	
.Primary_button a:hover {
  background-color: #ffffff;
  color: #20363D;	 
}	
  .Primary_button_r {
    text-align: right;
    padding: 5px;
  }
	
	 .Primary_button_r a:hover {
   background-color: #ffffff;
  color: #20363D;	 
  }
	
		.Primary_CTA_1 {
	display: none; }

	.Primary_CTA_l {
  padding: 15px 0px 20px;
  text-align: left;
		vertical-align: middle;
	display:inline; }

  .float_right {}

  .float_left {}

  .Primary_button_hero {
    font-size: 14px;
    line-height: 100%;
    padding: 14px 14px 12px;
    width: 220px;
  }

  .project_text {
    margin: 10px 10px 0px;
    max-width: 460px;
  }

  .image {
    max-width: 425px;
    padding: 0px 20px;
    align-content: center;
    justify-content: center;
    text-align: center;
	vertical-align: middle;
  }

  .project_des {
    font-size: 20px;
    margin: 0px 5px;
  }

  .future {
    padding: 10px 20px 30px;
  }

  .project_container {
    width: 850px;
    margin: 0 auto;
    align-content: center;
    justify-content: center;
  }

  .project_container_2 {
    width: 850px;
    margin: 0 auto;
    align-content: center;
    justify-content: center;
  }

  .project_container_3 {
    width: 850px;
    margin: 0 auto;
    align-content: center;
    justify-content: center;
  }

  .about_container {
    width: 850px;
    margin: 0 auto;
    align-content: center;
    justify-content: center;
  }

  .about_intro {
    padding: 20px 200px;
  }

  .box_image_evernote {
    width: 150px;
    height: 150px;
    margin: 20px 10px 30px 10px;
  }

  .box_image_box {
    width: 150px;
    height: 150px;
    margin: 20px 10px 30px 10px;
  }

  .box_image_pinterest {
    width: 150px;
    height: 150px;
    margin: 20px 10px 30px 10px;
  }
	

  /* Intro */
  nav {
    text-align: left;
    height: auto;
    padding: 50px 10px 15px;
    background: #20363D;
  }

  .logo {
    position: absolute;
    width: 111px;
    left: 15px;
    top: 5px;
    padding-left: 5px;
  }

  .intro {
    top: 60px;
    padding: 20px 140px;
  }

  /* Type */
  h1 {
    font-size: 48px;
    padding-top: 40px;
    max-width: 760px;
    line-height: 160%;
  }

  h2 {
    font-size: 35px;
  }

  h3 {
    font-size: 33px;
    line-height: 130%;
    max-width: 760px;
    margin-top: 20px;
  }

  h5 {
    font-size: 20px;
    line-height: 160%;
    max-width: 760px;
  }

  .slogan {
    font-size: 24px;
    line-height: 140%;
  }

  /* Project */
  .project_spacer {
    height: 35px;
  }

  .three_images {
    display: grid;
    text-align: center;
    padding: 70px 10px 0px;
    margin-top: 0;
  }

  /* DESKTOP NAV, HAMBURGER DISAPPEAR */
  .desktop-nav {
    display: inline-block;
    float: right;
  }

  .desktop-nav ul {
    display: inline-flex;
  }

  .desktop-nav ul li {
    padding: 0px 30px 30px 10px;
  }

  .desktop-nav ul li a:hover {
    color: #A6B8B2;
	text-transform: uppercase;
  }

  .menu-wrap {
    display: none;
  }

  /* Footer Desktop*/
  footer {
    padding: 40px;
  }
}
